<input type="text" [(ngModel)]="this.value.text" (input)="searchLocation($event)" [pattern]="this.pattern" [required]="this.required" placeholder="{{ this.placeholder }}">
<div class="search-area" *ngIf="this.focused">
    <div class="group" *ngFor="let city of (this.results$ | async)" (click)="locationSelected($event, city)">
        {{ city.name }}, {{ city.country.name }}
        <div class="airport" *ngFor="let airport of city.airports" (click)="locationSelected($event, city, airport)">
            {{airport.name}}
        </div>
    </div>
</div>