:host {
    position: relative;
    display: block;
    input {
        border: 0px;
        background-color: transparent;
        outline: none;
        width: 100%;
        display: block;
        height: 34px;
        padding-left: 13px;
        color: #11214A;
        text-transform: uppercase;
        font-size: 0.75rem;

        &::placeholder {
            color: #969EB0;
            opacity: .63;
            text-transform: none;
        }
    }

    .search-area {
        top:100%;
        background-color: #fff;
        z-index: 99;
        display: block;
        width: 100%;
        position: absolute;
        display: block;
        width: 400px;
        .group{
            width: 100%;
            position: relative;
            display: block;
        }
    }
}