<div class="bookings-container">
    <div class="top-bar">
        <h4>{{'BOOKING_PAGE_TITLE' | translate}}</h4>
        <div class="date-filter">
            <span>{{'BOOKING_CREATION_DATE' | translate}}:</span>
            <webagent-input [type]="InputType.DATE_RANGE" [(ngModel)]="this.dateRangeCreation" (change)="updateBookings()" />
            <span>{{'START_DATE' | translate}}:</span>
            <webagent-input [type]="InputType.DATE_RANGE" [(ngModel)]="this.dateRangeStart" (change)="updateBookings()" />
        </div>
    </div>

    <div class="booking-container">
        <ng-container>
            <app-booking [booking]="booking" *ngFor="let booking of (this.bookings$ | async)"/>
        </ng-container>
    </div>
</div>
