<h4>{{ 'TRIP_SUMMARY'  | translate}}</h4>
<div class="summary-container">
    <h6>{{'TICKETS' | translate}}</h6>
    <app-flight-option *ngIf="(selectedFlights$ | async)!.OUTBOUNDS" [option]="(selectedFlights$ | async)!.OUTBOUNDS!"
        [displayOnly]="true" (click)="outboundSegments = !outboundSegments" />
    <div class="segments" *ngIf="(selectedFlights$ | async)!.OUTBOUNDS" [ngClass]="{ 'open': outboundSegments }">
        <div>
            <ng-container *ngFor="let segment of (selectedFlights$ | async)!.OUTBOUNDS!.segments; let i = index">
                <summary-segment [segment]="segment" />
            </ng-container>
        </div>
        <div class="booking-refs" *ngIf="(this.price$ | async)">

            <div *ngIf="(selectedFlights$ | async)!.OUTBOUNDS?.provider === Providers.TRAVELFUSION; else gdsFlight ">
                <ul>
                    <li
                        *ngFor="let ref of (this.price$ | async)?.bookingRefs?.get((selectedFlights$ | async)!.OUTBOUNDS!.searchId)">
                        {{ ref.bookingCode }}
                    </li>
                </ul>
            </div>

            <ng-template #gdsFlight>
                <ul>
                    <li *ngFor="let ref of (this.price$ | async)?.bookingRefs?.get(Providers.XMLSELECT)">
                        {{ ref.bookingCode }}
                    </li>
                </ul>
            </ng-template>
        </div>

    </div>
    <app-flight-option *ngIf="(selectedFlights$ | async)?.INBOUNDS" [option]="(selectedFlights$ | async)?.INBOUNDS!"
        [displayOnly]="true" (click)="inboundSegments = !inboundSegments" />
    <div class="segments" *ngIf="(selectedFlights$ | async)!.INBOUNDS" [ngClass]="{ 'open': inboundSegments }">
        <div>
            <ng-container *ngFor="let segment of (selectedFlights$ | async)!.INBOUNDS!.segments; let i = index">
                <summary-segment [segment]="segment" />
            </ng-container>
        </div>

        <div class="booking-refs" *ngIf="(this.price$ | async)">

            <div *ngIf="(selectedFlights$ | async)!.INBOUNDS?.provider === Providers.TRAVELFUSION; else gdsFlight ">
                <ul>
                    <li
                        *ngFor="let ref of (this.price$ | async)?.bookingRefs?.get((selectedFlights$ | async)!.INBOUNDS!.searchId)">
                        {{ ref.bookingCode }}
                    </li>
                </ul>
            </div>

            <ng-template #gdsFlight>
                <ul>
                    <li *ngFor="let ref of (this.price$ | async)?.bookingRefs?.get(Providers.XMLSELECT)">
                        {{ ref.bookingCode }}
                    </li>
                </ul>
            </ng-template>
        </div>
    </div>

    <!-- <div class="supplier-infos" *ngIf="(this.details$ | async) != null">
        <div class="supplier-info" *ngFor="let info of (this.details$ | async)!.supplierInfos | keyvalue ">
            {{ info.key }}{{ info.value }}
        </div>
    </div>
    <div class="supplier-params" *ngIf="(this.details$ | async) != null">
        <div class="supplier-param" *ngFor="let info of (this.details$ | async)!.supplierParameters ">
            <p>{{ info.displayText}}</p>
            <p>{{ info.isOptional}}</p>
            <p>{{ info.name}}</p>
            <p>{{ info.perPassenger}}</p>
            <p>{{ info.type }}</p>
        </div>
    </div> -->

</div>


<div *ngIf="(this.price$ | async); else detailsDisplay">

    <div class="price">
        <h6>Total price</h6>
        <div class="total-price">
            {{ (this.price$ | async)?.price?.totalAmount }} {{ (this.price$ | async)?.price?.preferredCurrency }}
        </div>
    </div>

    <div class="fee-price" *ngFor="let fee of (this.price$ | async)?.price?.fees">
        {{ fee.name }}: {{ fee.amount }} {{ fee.currency }}
    </div>

    <!-- <div class="payments">
        <h6>Payment options</h6>
        <ul>
            <li *ngFor="let payment of (this.price$ | async)?.payments">
                {{payment.creditCard?.cardType}} {{payment.creditCard?.number}}
            </li>
        </ul>
    </div> -->
    <!-- id!: string;
    bookingRefs!: Map<string, BookingRefs>;
            bookingCode!: string;
            errors!: string[];
            status!: string;
            warnings!: string[];
    passengers!: Traveller[];
    contact!: Contact;
    payments!: Payment[]; -->
    <div class="prices-per-psg" *ngIf="(this.price$ | async)?.price?.passengersPrices">
        <div class="psg-price" *ngFor="let psgPrice of (this.price$ | async)?.price?.passengersPrices">
            <span>
                <span *ngIf="totalPassengers(psgPrice.ptc)">
                    {{ totalPassengers(psgPrice.ptc) + 1 }}
                </span>
                {{ passengerDefinition(psgPrice.ptc) }}:
            </span>
            {{ psgPrice.totalAmount }} {{psgPrice.preferredCurrency }}
        </div>
    </div>

</div>

<ng-template #detailsDisplay>
    <div class="price" *ngIf="(this.details$ | async) && (this.details$ | async)!.price &&  (this.details$ | async)!.price.amount > 0">
        <h6>Total price</h6>
        <div class="total-price">
            {{ (this.details$ | async)?.price?.amount }} {{ (this.details$ | async)?.price?.currency }}
        </div>
    </div>
    <div class="prices-per-psg" *ngIf="(this.details$ | async)?.price?.passengersPrices">
        <div class="psg-price" *ngFor="let psgPrice of (this.details$ | async)?.price?.passengersPrices">
            <span>
                <span *ngIf="totalPassengers(psgPrice.ptc)">
                    {{ totalPassengers(psgPrice.ptc) }}
                </span>
                {{ passengerDefinition(psgPrice.ptc) }}:
            </span>
            {{ psgPrice.totalAmount }} {{psgPrice.preferredCurrency }}
        </div>
    </div>
</ng-template>


<button class="button-large call-to-action" (click)="next()">{{ this.buttonText }}</button>