
<div class="row">
    <h3>{{ 'FLIGHT_SEARCH' | translate }}</h3>
    <webagent-input id="flight-switch" [type]="InputType.SWITCH" [(ngModel)]="typeSwitch" [hideDefault]="true" (change)="typeChanged($event)" />
</div>
<div class="row">
    <webagent-input [type]="InputType.LOCATION_SEARCH" [(ngModel)]="this.journey.origin" [label]="'From'" />
    <webagent-input [type]="InputType.LOCATION_SEARCH" [(ngModel)]="this.journey.destination" [label]="'To'"/>
</div>
<div class="row">
    <webagent-input *ngIf="this.isRoundTrip" class="dates" [min]="this.minDate" [max]="this.maxDate" [type]="InputType.DATE_RANGE" [hideDefault]="true" (change)="datesChanged($event)" />
    <webagent-input *ngIf="!this.isRoundTrip" class="dates" [type]="InputType.DATE" [hideDefault]="false" [(ngModel)]="oneWayDate" [label]="'Departure Date'" />
</div>

<div class="row controls">
    <div class="travellers">
        <div class="traveller">
            <div class="counter">
                <button (click)="decrease(TravellerTypes.ADULTS)">
                    <span>-</span>
                </button>
                <span>{{ counterNumber(TravellerTypes.ADULTS) }}</span>
                <button (click)="increase(TravellerTypes.ADULTS)">
                    <span>+</span>
                </button>
            </div>
            <span>Adults (+12 yo)</span>
        </div>
        <div class="traveller">
            <div class="counter">
                <button (click)="decrease(TravellerTypes.CHILDREN)">
                    <span>-</span>
                </button>
                <span>{{ counterNumber(TravellerTypes.CHILDREN) }}</span>
                <button (click)="increase(TravellerTypes.CHILDREN)">
                    <span>+</span>
                </button>
            </div>
            <span>Children (2-12 yo)</span>
        </div>
    </div>
    <button (click)="search()" class="button-medium call-to-action">Search</button>
</div>
