:host {
    display: block;
    padding: 20px 40px;
    padding-top: 13px;
    box-shadow: 0px 0px 5px #3333331a;
    border-radius: 11px;
    background-color: #fff;
    width: 80%;
    margin: 0px auto;
    .row {
        display: flex;
        justify-content: space-between;

        align-items: center;

        h3 {
            color: #11214A;
        }

        webagent-input {
            width: calc(50% - 10px);

            &.dates {
                width: 100%;
            }
        }

        #flight-switch {
            width: 20%;
        }

        &.controls{
            margin-top: 30px;
        }
    }

    .travellers {
        display: flex;
        .traveller {
            display: flex;
            align-items: center;
            webagent-input {
                width: fit-content;
            }
            span{
                padding: 0 10px;
            }
        }
    }
}