
<div class="row">
    <h3>{{ 'FLIGHT_SEARCH' | translate }}</h3>
    <webagent-input id="flight-switch" [type]="InputType.SWITCH" [(ngModel)]="typeSwitch" [hideDefault]="true" (change)="typeChanged($event)" />
</div>
<div class="row">
    <webagent-input [type]="InputType.LOCATION_SEARCH" [(ngModel)]="this.journey.origin" [label]="('ORIGIN' | translate )" />

    <div class="reverse-search">
        <i class="fa-solid fa-rotate"></i>
    </div>

    <webagent-input [type]="InputType.LOCATION_SEARCH" [(ngModel)]="this.journey.destination" [label]="('DESTINATION' | translate )"/>
</div>
<div class="row">
    <webagent-input *ngIf="this.isRoundTrip" class="dates" [(ngModel)]="this.roudTripDate" [min]="this.minDate" [max]="this.maxDate" [type]="InputType.DATE_RANGE" [hideDefault]="true" (change)="datesChanged($event)" />
    <webagent-input *ngIf="!this.isRoundTrip" class="dates" [min]="this.minDate" [max]="this.maxDate" [value]="getMomentDate((this.searchResume$ | async)!.departureDate)" [type]="InputType.DATE" [hideDefault]="false" [(ngModel)]="oneWayDate" [label]="('DEPARTURE_DATE' | translate)" />
</div>

<div class="row controls">
    <div class="travellers">
        <div class="traveller">
            <div class="counter">
                <button (click)="decrease(TravellerTypes.ADULTS)">
                    <span>-</span>
                </button>
                <span>{{ counterNumber(TravellerTypes.ADULTS) }}</span>
                <button (click)="increase(TravellerTypes.ADULTS)">
                    <span>+</span>
                </button>
            </div>
            <span>{{'ADULTS_SEARCH' | translate}}</span>
        </div>
        <div class="traveller">
            <div class="counter">
                <button (click)="decrease(TravellerTypes.CHILDREN)">
                    <span>-</span>
                </button>
                <span>{{ counterNumber(TravellerTypes.CHILDREN) }}</span>
                <button (click)="increase(TravellerTypes.CHILDREN)">
                    <span>+</span>
                </button>
            </div>
            <span>{{'CHILDREN_SEARCH' | translate}}</span>
        </div>
    </div>
    <button (click)="search()" class="button-medium call-to-action">{{'SEARCH' | translate}}</button>
</div>
