:host {
    display: block;
    padding: 20px 40px;
    padding-top: 13px;
    border-radius: 11px;
    background-color: #fff;
    .row {
        display: flex;
        justify-content: space-between;

        align-items: center;

        h3 {
            color: #11214A;
        }

        webagent-input {
            width: calc(50% - 10px);

            &.dates {
                width: 100%;
            }
        }

        #flight-switch {
            width: 20%;
        }

        &.controls{
            margin-top: 30px;
        }
    }

    .travellers {
        display: flex;
        .traveller {
            display: flex;
            align-items: center;
            webagent-input {
                width: fit-content;
            }
            span{
                padding: 0 10px;
            }
            .counter {
                display: flex;
                button{
                    width: 1.5rem;
                    height: 1.5rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    span{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        transform: translateY(-1px);
                    }

                    &:first-child {
                        border-bottom-left-radius: 13px;
                        border-top-left-radius: 13px;
                        border-bottom-right-radius: 0px;
                        border-top-right-radius: 0px;
                    }
                    &:last-child {
                        border-bottom-left-radius: 0px;
                        border-top-left-radius: 0px;
                        border-bottom-right-radius: 13px;
                        border-top-right-radius: 13px;
                    }
                }
                & > span {
                    display: block;
                    background-color: #414D6E;
                    color: #fff;
                    display: flex;
                    align-items: center;
                }
            }
        }
    }
}