:host{


}

ion-list {
	padding: 0;
}

ion-item-divider {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	background-color: transparent;
}

.credits {
	font-size: 0.75em;
	text-align: justify;
	padding: 10px;
}

.flight-info {
    font-size: 1em;
    margin-top: 5px;

}

ul{
	list-style: none;
    padding-left: 0;

	.content{
		p{
			padding: 0px 10px 0px 10px;
			font-size: .75rem;
			margin-bottom: 10px;
		}
		.first-paragraph {
			margin-top: 10px;

		}
	}


	.active {
		background-color: #f3f3f3;
	}


	li{
		display: flex;
		flex-direction: column;
		justify-content: center;
		cursor: pointer;
		padding-left: 10px;
		height: 30px;
		transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
		
		&:hover {
			background-color: #f3f3f3;

		}

		label {
			cursor: pointer;
		}
	}
}
