<form [formGroup]="this.dateForm" class="date-input">
    <webagent-input [type]="InputType.TEXT" [label]="'Start Date'" [placeholder]="'Start Date'"
        [pattern]="DATE_PATTERN.source" formControlName="dateFrom" (click)="openCalendar()"></webagent-input>
    <webagent-input [type]="InputType.TEXT" [label]="'End Date'" [placeholder]="'End Date'"
        [pattern]="DATE_PATTERN.source" formControlName="dateTo" (click)="openCalendar()"></webagent-input>
</form>

<ng-template #year>
    <h3>Choose a year</h3>
    <webagent-input [type]="InputType.DROPDOWN" [options]="this.getPreviousYears()" (change)="changeYear($event)" />
</ng-template>

<div #calendar class="calendar-container" [ngClass]="{ 'show': calendarOpen }">
    <div class="date-range-container">
        <div class="month-control flex-container flex-center flex-middle">
            <div class="left-control flex-container flex-middle flex-left" (click)="previousMonth()">
                <
            </div>
            <div>{{ date.format('MMMM') }} <span (click)="showYearPopup(year, 'year-popup')">{{ date.format('YYYY') }}</span></div>
            </div>
            <div class="flex-container flex-center">
                <div class="flex-container flex-center flex-middle calendar-days-container">
                    <div class="flex-container flex-center flex-middle calendar-days week-day">S</div>
                    <div class="flex-container flex-center flex-middle calendar-days week-day">M</div>
                    <div class="flex-container flex-center flex-middle calendar-days week-day">T</div>
                    <div class="flex-container flex-center flex-middle calendar-days week-day">W</div>
                    <div class="flex-container flex-center flex-middle calendar-days week-day">T</div>
                    <div class="flex-container flex-center flex-middle calendar-days week-day">F</div>
                    <div class="flex-container flex-center flex-middle calendar-days week-day">S</div>
                </div>
            </div>
            <div class="calendar-days-container flex-container">
                <div class="calendar-days flex-container flex-center flex-middle"
                    [ngClass]="{'inactive' : (!day || withinBounds(day)), 'today': todayCheck(day), 'selected': isSelected(day), 'hovered': isHovered(day)}"
                    *ngFor="let day of daysArray" (click)="selectedDate(day)" (mouseenter)="this.hoveredDate = day">
                    <div *ngIf="day">{{ day.date() }}</div>
                </div>
            </div>
        </div>
        <div class="date-range-container">
            <div class="month-control flex-container flex-center flex-middle">

                <div>{{ dateNext.format('MMMM') }} <span (click)="showYearPopup(year, 'year-popup')">{{ dateNext.format('YYYY') }}</span></div>
                <div class="right-control flex-container flex-middle flex-right" (click)="nextMonth()">
                    >
                </div>
            </div>
            <div class="flex-container flex-center">
                <div class="flex-container flex-center flex-middle calendar-days-container">
                    <div class="flex-container flex-center flex-middle calendar-days week-day">S</div>
                    <div class="flex-container flex-center flex-middle calendar-days week-day">M</div>
                    <div class="flex-container flex-center flex-middle calendar-days week-day">T</div>
                    <div class="flex-container flex-center flex-middle calendar-days week-day">W</div>
                    <div class="flex-container flex-center flex-middle calendar-days week-day">T</div>
                    <div class="flex-container flex-center flex-middle calendar-days week-day">F</div>
                    <div class="flex-container flex-center flex-middle calendar-days week-day">S</div>
                </div>
            </div>
            <div class="calendar-days-container flex-container">
                <div class="calendar-days flex-container flex-center flex-middle"
                    [ngClass]="{'inactive' : (!day || withinBounds(day)), 'today': todayCheck(day), 'selected': isSelected(day), 'hovered': isHovered(day)}"
                    *ngFor="let day of daysNextArray" (click)="selectedDate(day)" (mouseenter)="this.hoveredDate = day">
                    <div *ngIf="day">{{ day.date() }}</div>
                </div>
            </div>
        </div>
    </div>