:host {
    input {
        border: 0px;
        background-color: transparent;
        outline: none;
        width: 100%;
        display: block;
        height: 34px;
        padding-left: 13px;
        color: inherit;
        font-size: inherit;

        &::placeholder {
            color: #969EB0;
            opacity: .63;
        }
    }

}


@media only screen and (max-width: 1920px) {
    :host {
        font-size: 0.75rem;
    }
}

@media only screen and (max-width: 1280px) {
    :host {
        font-size: 10px;
    }
}