<div class="line-flight-details" *ngIf="!this.outbound">
    <span>INBOUNDS</span>
</div>

<div class="info-segments">
    <div class="segment" *ngFor="let segment of this.option.segments; let i = index">
        <air-segment 
            [segmentIndex]="i"
            [segment]="segment"
            [numberOfStops]="numberOfStops"
        />
        <!-- <div class="time-info">
            <div class="segment-date">
                {{ segment.departureDatetime | date:'fullDate' }}
                <ng-container *ngIf="!isSameDay(segment.arrivalDatetime, segment.departureDatetime)">
                    - {{ segment.arrivalDatetime | date:'fullDate' }}
                </ng-container>
            </div>
            
            <div class="travel-path">
                <div class="departure">
                    <div class="name">{{ segment.origin.code }}</div>
                    <div>{{ segment.departureDatetime | date:'HH:mm' }}</div>
                    <div *ngIf="segment.departureTerminal">Terminal: {{ segment.departureTerminal }}</div>
                </div>
                <div class="flight-progress">
                    <div class="stops">
                        <div class="stop" [ngClass]="{ 'blue': true }">
                        </div>
                        <div class="stop" *ngFor="let number of range(1, numberOfStops); let index = index" [ngClass]="{ 'blue': index <= i }"></div>
                        <div class="stop" [ngClass]="{ 'blue': numberOfStops == i }" ></div>
                    </div>
                    <div class="title" [style.left]="((100 / ((numberOfStops + 1))) * ((i + 1))) - ((100 / ((numberOfStops + 1))/2 )) + '%'">
                        {{ segmentDuration(segment) }}
                    </div>
                    <span class="progress-bar" [style.width]="(((i + 1) / (numberOfStops + 1)) * 100) +'%'"></span>
                
                </div>
                <div class="arrival">
                    <div>{{ segment.destination.code }}</div>
                    <div>{{ segment.arrivalDatetime | date:'HH:mm' }}</div>
                    <div *ngIf="segment.departureTerminal">Terminal: {{ segment.arrivalTerminal }}</div>
                </div>
            </div>
        </div>
        <div class="info">
            <div class="flight-number">Flight number: {{ segment.flightNumber }}</div>
            <div class="carrier-info">
                <div class="operating-carrier">
                    <h6
                        *ngIf="segment.marketingCarrier.name != segment.operatingCarrier.name && segment.marketingCarrier.code != segment.operatingCarrier.code">
                        Operating carrier</h6>
                    <div class="carrier-content">
                        <div class="carrier-image" [title]="segment.operatingCarrier.name"
                            [ngStyle]="{ 'background-image': 'url(' + segment.operatingCarrier.logo_url + ')' }"></div>
                        <div>{{ segment.operatingCarrier.name }} ({{ segment.operatingCarrier.code }})</div>
                    </div>
                </div>
                <div class="marketing-carrier"
                    *ngIf="segment.marketingCarrier.name != segment.operatingCarrier.name && segment.marketingCarrier.code != segment.operatingCarrier.code">
                    <h6>Marketing carrier</h6>
                    <div class="carrier-content">
                        <div class="carrier-image" [title]="segment.marketingCarrier.name"
                            [ngStyle]="{ 'background-image': 'url(' + segment.marketingCarrier.logo_url + ')' }"> </div>
                        <div>{{ segment.marketingCarrier.name }} ({{ segment.marketingCarrier.code }})</div>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</div>