:host {
    .info-segments {
        width: 100%;

        
    }

    .line-flight-details {
        position: relative;

        span {
            display: block;
            width: fit-content;
            margin: 0px auto;
            padding: 0px 10px;
            position: relative;
            z-index: 1;
            background-color: #fff;
            color: #738FC6 !important;
            font-size: 12px;
        }

        &::after {
            content: '';
            height: 1px;
            width: 100%;
            opacity: 1;
            background-color: #738FC6;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            z-index: 0;
        }
    }
}