<form [formGroup]="this.dateForm" >
    <webagent-input [type]="InputType.TEXT" [label]="this.label" [placeholder]="this.placeholder"
    [pattern]="DATE_PATTERN.source" formControlName="selectedDate" (click)="openCalendar()" (focus)="openCalendar()" [required]="this.required"/>
</form>

<ng-template #year>
    <h3>{{ 'CHOOSE_YEAR' |translate }}</h3>
    <webagent-dropdown (change)="changeYear($event)" [search]="true">
        <webagent-option *ngFor="let year of this.getPreviousYears()" [value]="year">{{ year }}</webagent-option>
    </webagent-dropdown>
    <!-- <webagent-input [type]="InputType.DROPDOWN" [options]="this.getPreviousYears()" (change)="changeYear($event)" /> -->
</ng-template>

<div #calendar class="calendar-container" [ngClass]="{ 'show': calendarOpen }">
    <div class="date-range-container">
        <div class="month-control flex-container flex-center flex-middle">
            <div class="left-control flex-container flex-middle flex-left" (click)="previousMonth()">
                <
            </div>
            <div>{{ date.format('MMMM') }} <span (click)="showYearPopup(year, 'year-popup')">{{ date.format('YYYY') }}</span></div>
            <div class="left-control flex-container flex-middle flex-left" (click)="nextMonth()">
                >
            </div>
        </div>
        <div class="flex-container flex-center">
            <div class="flex-container flex-center flex-middle calendar-days-container">
                <div class="flex-container flex-center flex-middle calendar-days week-day">{{ "WEEK_DAY_SUNDAY" | translate }}</div>
                <div class="flex-container flex-center flex-middle calendar-days week-day">{{ "WEEK_DAY_MONDAY" | translate }}</div>
                <div class="flex-container flex-center flex-middle calendar-days week-day">{{ "WEEK_DAY_TUESDAY" | translate }}</div>
                <div class="flex-container flex-center flex-middle calendar-days week-day">{{ "WEEK_DAY_WEDNESDAY" | translate }}</div>
                <div class="flex-container flex-center flex-middle calendar-days week-day">{{ "WEEK_DAY_THURSDAY" | translate }}</div>
                <div class="flex-container flex-center flex-middle calendar-days week-day">{{ "WEEK_DAY_FRIDAY" | translate }}</div>
                <div class="flex-container flex-center flex-middle calendar-days week-day">{{ "WEEK_DAY_SATURDAY" | translate }}</div>
            </div>
        </div>
        <div class="calendar-days-container flex-container">
            <div class="calendar-days flex-container flex-center flex-middle"
                [ngClass]="{'inactive' : (!day || withinBounds(day)), 'today': todayCheck(day), 'selected': isSelected(day)}"
                *ngFor="let day of daysArray" (click)="selectDate(day)">
                <div *ngIf="day">{{ day.date() }}</div>
            </div>
        </div>
    </div>
</div>