:host{
    height: 100%;

    .form{
        width: 100%;
        position: relative;
        top:50%;
        transform: translateY(-50%);

        transition-delay: 1s;
        transition: top 1s ease-in-out, transform 1s ease-in-out;

        z-index: 999;
        &.with-results {
            top: 0%;
            transform: translateY(0%);
        }
        flight-search-form {
            
        }
    }
}