
<div class="form" [ngClass]="{ 'with-results': this.hasResults }">
    <flight-search-form></flight-search-form>
</div>
<div class="result-section" *ngIf="(this.results$ | async)!.length > 0">
    <p>Showing {{ showing }} results out of {{ max }}</p>

    <div class="results">
        <ng-container *ngFor="let result of (this.results$ | async); let i = index">
            <app-search-result style="--index: {{i}}"  *ngIf="result.show && hasOptions(result)" [result]="result"></app-search-result>
        </ng-container>
    </div>
</div>