<div class="card">
    <h4>User Profile</h4>

    <webagent-input [type]="InputType.TEXT" [required]="true" [pattern]="patterns.name.source" [placeholder]="'Name'" [label]="'Name'" />

    <div class="double-fields">
        <webagent-input [type]="InputType.TEXT" [required]="true" [placeholder]="'dd/mm/yyyy'"
            [label]="'Data de nascimento'" />
        <webagent-input [type]="InputType.TEXT" [required]="true" [pattern]="patterns.email.source"
            [placeholder]="'Insert your email address'" [label]="'Email'" />
    </div>

    <div class="double-fields">
        <webagent-input [type]="InputType.DROPDOWN" [options]="countriesDialCodeOptions" [required]="true"
            [pattern]="'[a-z]'" [label]="'Country Dial Code'" />
        <webagent-input [type]="InputType.TEXT" [required]="true" [pattern]="'[a-z]'" [label]="'Phone number'" [placeholder]="'Insert your first name'" />
    </div>
</div>

<div class="card address">
    <h4>Address</h4>
    <webagent-input [type]="InputType.TEXT" [required]="true" [pattern]="patterns.text.source"
        [placeholder]="'Insert the name of your entity'" [label]="'Entity Name'" />
    
    <div class="address-column">
        <webagent-input class="street" [type]="InputType.TEXT" [required]="true" [pattern]="patterns.text.source"
            [placeholder]="'Insert the street name and number'" [label]="'Street'" />
        <webagent-input class="flat" [type]="InputType.TEXT" [required]="true" [pattern]="patterns.text.source"
            [placeholder]="'Flat number'" [label]="'Flat'" />
        <webagent-input class="post-code" [type]="InputType.TEXT" [required]="true" [pattern]="patterns.postCode.source"
            [placeholder]="'Post Code'" [label]="'Post Code'" />

    </div>

    <div class="triple-fields">
        <webagent-input [type]="InputType.TEXT" [required]="true" [pattern]="patterns.text.source"
            [placeholder]="'Insert the locality'" [label]="'Locality'" />
        <webagent-input [type]="InputType.TEXT" [required]="true" [pattern]="patterns.city.source"
            [placeholder]="'Insert the city'" [label]="'City'" />
        <webagent-input [type]="InputType.TEXT" [required]="true" [pattern]="patterns.countryCode.source"
            [placeholder]="'E.g. PT'" [label]="'Country Code'" />
    </div>

</div>

<div class="card">
    <h4>App Settings</h4>

    <div class="double-fields">
        <webagent-input [label]="'Select a language'" [type]="InputType.DROPDOWN" [options]="['English', 'Portuguese']" />
        <webagent-input [label]="'Select a currency'" [type]="InputType.DROPDOWN" [options]="['USD', 'EUR']" />
    </div>
</div>