<ng-container *ngIf="settingsLoaded">
    <div class="card">
        <h4>{{'USER_PROFILE_LOWERCASE' | translate}}</h4>
        <webagent-input id="name" [type]="InputType.TEXT" [required]="true" [(ngModel)]="this.tmpSettings.profileName"
            [pattern]="patterns.name.source" [label]="('NAME' | translate )" />
    
        <div class="double-fields">
            <webagent-input id="email" [type]="InputType.TEXT" [required]="true" [(ngModel)]="this.tmpSettings.profileEmail" [pattern]="patterns.email.source" [label]="('EMAIL' | translate)" />
            <div class="double-fields">
                <webagent-dropdown id="countryDial" [(ngModel)]="this.tmpSettings.profileCountryDialCode" [label]="('COUNTRY_DIAL_CODE' | translate)" [search]="true">
                    <webagent-option *ngFor="let country of countriesDialCodes | keyvalue" [value]="country.value">{{ country.key }}</webagent-option>
                </webagent-dropdown>
                <webagent-input id="phone" [type]="InputType.TEXT" [required]="true" [pattern]="patterns.phone.source" [(ngModel)]="this.tmpSettings.profilePhone"
                    [label]="('PHONE_NUMBER' | translate)" />
            </div>
        </div>
    
    
    </div>
    
    <div class="card address">
        <h4>{{'ADDRESS' | translate}}</h4>
        <webagent-input id="entityName" [type]="InputType.TEXT" [required]="true" [pattern]="patterns.text.source" [(ngModel)]="this.tmpSettings.agencyEntityName"
            [label]="('ENTITY_NAME' | translate)" />
    
        <div class="address-column">
            <webagent-input id="street" class="street" [type]="InputType.TEXT" [required]="false" [pattern]="patterns.text.source" [(ngModel)]="this.tmpSettings.address.street"
                [label]="('STREET' | translate)" />
            <webagent-input class="flat" [type]="InputType.TEXT" [required]="false" [pattern]="patterns.text.source"
                [label]="('FLAT' | translate)"[(ngModel)]="this.tmpSettings.address.flat"  />
            <webagent-input id="postCode" class="post-code" [type]="InputType.TEXT" [required]="false"
                [pattern]="patterns.postCode.source"  [(ngModel)]="this.tmpSettings.address.postCode" [label]="('POST_CODE' | translate)" />
    
        </div>
    
        <div class="triple-fields">
            <webagent-input [type]="InputType.TEXT" [required]="false" [pattern]="patterns.text.source" [(ngModel)]="this.tmpSettings.address.locality"
                [label]="('LOCALITY' | translate)" />
            <webagent-input id="city" [type]="InputType.TEXT" [required]="false" [pattern]="patterns.city.source" [label]="('CITY' | translate)" [(ngModel)]="this.tmpSettings.address.city" />
            <webagent-input id="countryCode" [type]="InputType.TEXT" [required]="false" [pattern]="patterns.countryCode.source" [(ngModel)]="this.tmpSettings.address.countryCode"
                [placeholder]="'E.g. PT'" [label]="('COUNTRY_CODE' | translate)" />
        </div>
    
    </div>
    
    <div class="card">
        <h4>{{'APP_SETTINGS' | translate}}</h4>
    
        <div class="double-fields">
            <webagent-dropdown [(ngModel)]="this.tmpSettings.languageCode">
                <webagent-option [value]="'bn'">{{'BENGALI' | translate}}</webagent-option>
                <webagent-option [value]="'en'">{{'ENGLISH' | translate}}</webagent-option>
                <webagent-option [value]="'fr'">{{'FRENCH' | translate}}</webagent-option>
                <webagent-option [value]="'de'">{{'GERMAN' | translate}}</webagent-option>
                <webagent-option [value]="'ne'">{{'NEPALI' | translate}}</webagent-option>
                <webagent-option [value]="'pt'">{{'PORTUGUESE' | translate}}</webagent-option>
                <webagent-option [value]="'es'">{{'SPANISH' | translate}}</webagent-option>
                <webagent-option [value]="'sw'">{{'SWAHILI' | translate}}</webagent-option>
                <webagent-option [value]="'tr'">{{'TURKISH' | translate}}</webagent-option>
            </webagent-dropdown>

            <webagent-dropdown [(ngModel)]="this.tmpSettings.currency" [search]="true">
                <webagent-option *ngFor="let currency of this.currencies; let code = index" [value]="currency['code']">{{ currency['code'] }} - {{ currency['name'] }}</webagent-option>
            </webagent-dropdown>
            <!-- <webagent-input [label]="('SELECT_LANGUAGE' | translate)" [type]="InputType.DROPDOWN" [(ngModel)]="this.tmpSettings.languageCode" [options]="['en', 'pt']" /> -->
            <!-- <webagent-input [label]="('SELECT_CURRENCY' | translate)" [type]="InputType.DROPDOWN" [options]="['USD', 'EUR']" [(ngModel)]="this.tmpSettings.currency" /> -->
        </div>

        <webagent-input [type]="InputType.CHECKBOX" [value]="'Click here'"/>
    
        <button class="button-medium" (click)="update()">{{'SAVE' | translate}}</button>
    </div>
</ng-container>