

<webagent-input [type]="InputType.LOCATION_SEARCH" [(ngModel)]="test" (input)="showTestValue()" [required]="true" [pattern]="'[a-z]'" [placeholder]="'Select location'" [label]="'From'"></webagent-input>
<webagent-input [type]="InputType.LOCATION_SEARCH" [(ngModel)]="test2" (input)="showTestValue()" [required]="true" [pattern]="'[a-z]'" [placeholder]="'Select location'" [label]="'To'"></webagent-input>
<webagent-input [type]="InputType.TEXT" [(ngModel)]="testOld1" (input)="showTestValue()" [required]="true" [pattern]="'[a-z]'" [placeholder]="'Something'" [label]="'First Name'"></webagent-input>

<h1>Hello</h1>
<h2>Hello</h2>
<h3>Hello</h3>
<h4>Hello</h4>
<h5>Hello</h5>
<h6>Hello</h6>

<button class="button-medium call-to-action">Login</button>
<button class="button-large call-to-action">Request access</button>
<button class="button-large call-to-action">Finish booking</button>

<button class="button-large">Hello</button>
<button class="button-medium">Hello</button>
<button class="button-small">Hello</button>

<webagent-input [type]="InputType.DATE_RANGE" [min]="'01/01/2024'" [max]="'31/01/2024'" [(ngModel)]="test3" (click)="showTestValue()"></webagent-input>

<webagent-input [type]="InputType.CVV" [placeholder]="'0000'" [pattern]="'^\\d{3,5}$'" [label]="'CVV'"></webagent-input>
<webagent-input [type]="InputType.DROPDOWN" [options]="options" [required]="false" [label]="'Custom Dropdown'"></webagent-input>
<webagent-input 
    style="box-shadow: none;"
    [(ngModel)]="switch"
    [type]="InputType.SWITCH"
></webagent-input>


<webagent-input [type]="InputType.TEXT_DATE_INPUT" [label]="'Expiry date'"></webagent-input>