<webagent-input [type]="InputType.LOCATION_SEARCH" [(ngModel)]="this.journey.origin" [label]="'From'" [placeholder]="'Select location'"></webagent-input>
<webagent-input [type]="InputType.LOCATION_SEARCH" [(ngModel)]="this.journey.destination" [label]="'To'" [placeholder]="'Select location'"></webagent-input>
<webagent-input [type]="InputType.DATE" [label]="'Departure'" [placeholder]="'Select location'" ></webagent-input>
<webagent-input [type]="InputType.DATE" [label]="'Arrival'" [placeholder]="'Select location'" ></webagent-input>