<div class="page-container">
    <ng-container *ngFor="let flight of (this.details$ | async)?.flights; let pindex = index">
        <div class="top-section" *ngFor="let segment of flight.segments">
            <div class="left-side">
                <div class="logo">
    
                </div>
            </div>
    
            <div class="mid-side">
                <div class="flight-info">
                    <p class="semi-bold">Sun 27 December</p>
                    <div class="ticket-info">
                        <div class="first-row">
                            <div class="first-column">
                                <p>Flight</p>
                                <h5>{{ segment.flightNumber }}</h5>
                            </div>
                            <div class="first-column">
                                <p>Boarding time</p>
                                <h5>{{ segment.departureDatetime | date: 'HH:mm' }}</h5>
                            </div>
                            <div class="first-column">
                                <p>Terminal</p>
                                <h5>{{ segment.departureTerminal ? segment.departureTerminal : '-------' }}</h5>
                            </div>
                            <div class="first-column">
                                <p>Duration</p>
                                <h5>24h</h5>
                            </div>
    
                        </div>
    
                        <div class="class">
                            <p>Class:</p> <span> {{ segment.fareDetailsList[0].bookingClass }} </span>
                        </div>
    
                        <div class="destination">
                            <p>From:</p> <span>{{ segment.origin.type }}/{{ segment.origin.code }}</span> <p>To: </p> <span>{{ segment.origin.type }}/{{ segment.origin.code }}</span>
                        </div>
    
                        <div class="departure-time">
                            <p>Departure:</p> <span>{{ segment.departureDatetime | date: 'HH:mm' }}</span> <p>Arrival: </p> <span>{{ segment.arrivalDatetime | date: 'HH:mm' }}</span>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="right-side">
                
                <div class="price">
                    <h2>{{ flight?.price?.amount }}</h2><h5>{{ flight?.price?.currency }}</h5>
                    <div class="info-circle"><span>i</span></div>
                </div>
                <div class="div">
                    <label>Taxes included</label>
                </div>
                
            </div>
        </div>
    
    
        <div class="mid-section" *ngIf="getPayment(flight.id)">
            <div class="half-section left">
                <div class="first-row">
                    <h4>Payment</h4>
                    <webagent-input [type]="InputType.DROPDOWN" [required]="true" [label]="'Card type'" [options]="this.getPaymentOptionDisplay(flight.id)" />
                </div>
    
                <webagent-input [type]="InputType.TEXT" [required]="true" [label]="'Card holder'" [placeholder]="'E.g. John'"/>
                 
                <div class="second-row">
                    <webagent-input [type]="InputType.NUMBER" [required]="true" [label]="'Card number'" [placeholder]="'E.g. 0000 0000 0000 0000'"/>
                    <div class="half-inputs">
                        <webagent-input [type]="InputType.CVV" [required]="true" [label]="'CVV'" [placeholder]="'E.g. 00000'"/>
                        <webagent-input id="exp-date" [type]="InputType.TEXT_DATE_INPUT" [required]="true" [label]="'Expiry date'" [placeholder]="'E.g. mm/yyyy'"/>
                    </div>
                </div>
    
                <div class="error-section">
                    <ul>
                        <li>Invalid username should have atleast 5 characters</li>
                        <li>Invalid password should have 5 characters</li>
                    </ul> 
                </div>
    
            </div>
            <div class="half-section right">
                <h4>Billing address</h4>
    
                <webagent-input [type]="InputType.TEXT" [required]="true" [label]="'Entity name'" [placeholder]="'E.g. TTS Lab'"/>
                
                <div class="first-section">
                    <webagent-input id="street" [type]="InputType.TEXT" [required]="true" [label]="'Street'" [placeholder]="'E.g. Rua da tecnologia 25'"/>
                    <webagent-input id="flat" [type]="InputType.TEXT" [required]="true" [label]="'Flat'" [placeholder]="'E.g. R/S'"/>
                    <webagent-input id="post-code" [type]="InputType.TEXT" [required]="true" [label]="'Post code'" [pattern]="patterns.postCode.source" [placeholder]="'E.g. 9500-296'"/>
                </div>
    
                <div class="second-section">
                    <webagent-input id="locality" [type]="InputType.TEXT" [required]="true" [label]="'Locality'" [placeholder]="'E.g. Porto'"/>
                    <webagent-input id="city" [type]="InputType.TEXT" [required]="true" [label]="'City'" [placeholder]="'E.g. Dublin'"/>
                    <webagent-input id="country-code" [type]="InputType.TEXT" [required]="true" [label]="'Country code'" [pattern]="patterns.countryCode.source" [placeholder]="'E.g. PT'"/>
                </div>
    
                <div class="error-section">
                    <ul>
                        <li>Invalid username should have atleast 5 characters</li>
                        <li>Invalid password should have 5 characters</li>
                    </ul> 
                </div>
            </div>    
        </div>
    </ng-container>


</div>