<div class="phase" [ngClass]="{'complete': this.travellerDetailsValid, 'current': !this.travellerDetailsValid && airCheckoutDetails}" data-content="Traveller Details">
    Traveller Details 
</div>
<div class="phase" [ngClass]="{'complete': this.airCheckoutPrice, 'current': !this.airCheckoutPrice && travellerDetailsValid}" data-content="Checkout">
    Checkout
</div>
<div class="phase" [ngClass]="{'complete': this.booking, 'current': !this.booking && airCheckoutPrice}" data-content="Reservation Summary">
    Reservation Summary
</div>