.time {
    text-align: center;
    display: flex;
    position: relative;
    div{
        display: flex;
        font-size: .85rem;
        font-weight: 600;
        color: #12214A;
        div:nth-child(2){
            padding: 0 5px;
        }
        
    }
    .next-day{
        font-size: 9px;
    }
}
