<div class="wallet-container">
    <div class="top-bar">
        <h4>{{'WALLET' | translate}} <button class="button-small call-to-action" (click)="this.toggleModal(customContent1, 'modal1')">{{'ADD_FUNDS' | translate}}</button></h4>
        <div class="date-filter">
            <webagent-input [type]="InputType.DROPDOWN" [value]="DayInterval.LAST_30_DAYS" [options]="daysIntervalValues" (change)="updateDays($event)"/>
            <webagent-input [type]="InputType.DATE_RANGE" [(ngModel)]="this.dateRange" (change)="updateTransactions()" />

        </div>
    </div>

    <div class="transaction-container">
        <ng-container *ngFor="let transaction of (this.transactions$ | async)">
            <app-wallet-transaction [transaction]="transaction" />
        </ng-container>
    </div>
    <ng-template #customContent1>
        <h3>{{'ADD_FUNDS' | translate}}</h3>
        <div class="payment-wrapper" style="display: flex; align-items: flex-end; justify-content: space-between;">
            <webagent-input style="width: 300px; margin-right: 10px;" [type]="InputType.NUMBER" [label]="('AMOUNT' | translate)" [(ngModel)]="this.deposit.amount"  [placeholder]="('AMOUNT_GREATER_50' | translate)" [max]="10" [pattern]="patterns.amount.source"/>
            <button class="button-medium" style="transform: translateY(-1px);" (click)="addFunds()">Add funds</button>
        </div>
    </ng-template>

</div>