:host{

    height: 100%;
    width: 100%;

    .wallet-container {
        padding: 31.5px 84.75px 102px 46.25px;
        height: 100%;
        width: 100%;

        .top-bar{
            display: flex;
            justify-content: space-between;
            padding-bottom: 20px;
        
        }
    }
    


}
