<div class="wallet-container">
    <div class="top-bar">
        <h4>Transactions</h4>
        <div class="date-filter">
            <webagent-input [type]="InputType.DROPDOWN" [options]="dayIntervals" (change)="updateDays($event)"/>
            <webagent-input [type]="InputType.DATE_RANGE" [(ngModel)]="this.dateRange" (change)="updateTransactions()" />

        </div>
    </div>

    <div class="transaction-container">
        <ng-container *ngFor="let transaction of (this.transactions$ | async)">
            <app-wallet-transaction [transaction]="transaction" />
        </ng-container>
    </div>


</div>
