
<div class="login">
    
    <div class="fields">
        <div style="height: 11%;">
            <img src="assets/webagent-logo-white.png" style="max-width: 80%;">
        </div>

        <div class="switch-input">
            <webagent-input 
                [(ngModel)]="switch"
                [type]="InputType.SWITCH"
                [hideDefault]="true"
                [ngClass]="{'active': this.loginRequest.gds === 'Galileo'}"
            ></webagent-input>
        </div>

        <div class="field-container" (keyup.enter)="this.login()">

            <div class="field son">
                <webagent-input [type]="InputType.TEXT" [(ngModel)]="this.loginRequest.son" id="son" [label]="'SON'" [theme]="Theme.DARK"/>
            </div>
            <div class="field password">
                <webagent-input [type]="InputType.PASSWORD" [(ngModel)]="this.loginRequest.pwd" id="password" [label]="'Password'" [theme]="Theme.DARK"/>
            </div>
            <div class="field pcc">
                <webagent-input [type]="InputType.TEXT" [(ngModel)]="this.loginRequest.pcc" id="pcc" [label]="'PCC'" [theme]="Theme.DARK"/>
            </div>
    
            <div class="login-buttons">
                <button class="button-medium">Request access</button>
                <button class="button-medium call-to-action" (click)="this.login()">Login</button>
            </div>
        </div>

        <div class="register-link">
            <label class="" for="">Don't have an account? Request one</label><a href="http://"> here</a>
        </div>
    </div>

    <div class="footer">
        <div class="question-mark">
            <span>?</span>
        </div>
    </div>
</div>

<div class="news">
    <div class="news-container">
        <div class="top-section">
            <webagent-input class="search-input" [type]="InputType.SEARCH" [required]="false" [placeholder]="'Search'"> 
            </webagent-input>

            <div class="right-side">
                <label for="">Sort by: <a href="http://">Relevance</a></label>
                
                <div class="hamburger-menu">
                    <span class="large"></span>
                    <span class="medium"></span>
                    <span class="small"></span>
                </div>
            </div>
        </div>

        

        <div class="news-wrapper">
            <news-template [title]="'Something Amazing Happened'" [text]="'Something amazing happened several times over and over again, and no one really knows anything about so we thought about making this the news for all yall to be notified'"/>
            <news-template [title]="'Something Amazing Happened'" [text]="'Something amazing happened several times over and over again, and no one really knows anything about so we thought about making this the news for all yall to be notified'"/>
            <news-template [title]="'Something Amazing Happened'" [text]="'Something amazing happened several times over and over again, and no one really knows anything about so we thought about making this the news for all yall to be notified'"/>
            <news-template [title]="'Something Amazing Happened'" [text]="'Something amazing happened several times over and over again, and no one really knows anything about so we thought about making this the news for all yall to be notified'"/>
            <news-template [title]="'Something Amazing Happened'" [text]="'Something amazing happened several times over and over again, and no one really knows anything about so we thought about making this the news for all yall to be notified'"/>
            <news-template [title]="'Something Amazing Happened'" [text]="'Something amazing happened several times over and over again, and no one really knows anything about so we thought about making this the news for all yall to be notified'"/>
            <news-template [title]="'Something Amazing Happened'" [text]="'Something amazing happened several times over and over again, and no one really knows anything about so we thought about making this the news for all yall to be notified'"/>
            <news-template [title]="'Something Amazing Happened'" [text]="'Something amazing happened several times over and over again, and no one really knows anything about so we thought about making this the news for all yall to be notified'"/>
            
        </div>
        
        <div class="bottom-right">
            <a href=""><b>facebook.com/tts</b></a>
            <a href=""><b>twitter.com/tts</b></a>
            <a href=""><b>instagram.com/tts</b></a>
        </div>

    </div>

    <div class="bottom-filter">
        <div class="left-side"></div>
    </div>
</div>
