
<div class="login">
    
    <div class="fields">
        <div style="height: 11%;">
            <img src="assets/webagent-logo-white.png" style="max-width: 80%;">
        </div>

        <div class="switch-input">
            <webagent-input 
                [(ngModel)]="switch"
                [type]="InputType.SWITCH"
                [hideDefault]="true"
                [ngClass]="{'active': this.loginRequest.gds === 'Galileo'}"
            ></webagent-input>
        </div>

        <div class="field-container" (keyup.enter)="this.login()">

            <div class="field son">
                <webagent-input [type]="InputType.TEXT" [(ngModel)]="this.loginRequest.son" id="son" [label]="'SON'" [theme]="Theme.DARK" (input)="capitalizeInput($event)" />
            </div>
            <div class="field password">
                <webagent-input [type]="InputType.PASSWORD" [(ngModel)]="this.loginRequest.pwd" id="password" [label]="'Password'" [theme]="Theme.DARK"/>
            </div>
            <div class="field pcc">
                <webagent-input [type]="InputType.TEXT" [(ngModel)]="this.loginRequest.pcc" id="pcc" [label]="'PCC'" [theme]="Theme.DARK" (input)="capitalizeInput($event)" />
            </div>
    
            <div class="login-buttons">
                <button class="button-medium">Request access</button>
                <button class="button-medium call-to-action" (click)="this.login()">Login</button>
            </div>
        </div>

        <div class="register-link">
            <label class="" for="">Don't have an account? Request one</label><a href="http://"> here</a>
        </div>
    </div>

    <div class="footer">
        <div class="question-mark">
            <span>?</span>
        </div>
    </div>
</div>

<div class="news">
    <div class="news-container">
        <div class="top-section">
            <webagent-input class="search-input" [type]="InputType.SEARCH" [required]="false" [placeholder]="'Search'"> 
            </webagent-input>

            <div class="right-side">
                <label for="">Sort by: <a href="http://">Relevance</a></label>
                
                <div class="hamburger-menu">
                    <span class="large"></span>
                    <span class="medium"></span>
                    <span class="small"></span>
                </div>
            </div>
        </div>

        

        <div class="news-wrapper">
            <news-template [title]="'The Rise of Low-Cost Carriers: A New Era for Travel Agents'" [text]="'The landscape of the travel industry is undergoing a significant transformation, reshaping the way we fly, driven by the evolution of Low-Cost Carriers (LCCs)'" [ref]="'https://www.tts.com/blog/the-rise-of-low-cost-carriers-a-new-era-for-travel-agents/'"/>
            <news-template [title]="'4 Reasons Why You Should Work with a Travel Agent for Complex Travel'" [text]="'Embarking on a journey, particularly one with multiple destinations, can be both exciting and overwhelming. The complexity of such itineraries often demands more than just basic planning; it requires a touch of artistry and deep knowledge. '" [ref]="'https://www.tts.com/blog/4-reasons-why-you-should-work-with-a-travel-agent-for-complex-travel/'"/>
            <news-template [title]="'GEN Z, MILLENNIALS CONTINUE TO SEEK INSPIRATION FROM SOCIAL PLATFORMS'" [text]="'Social media continues to be an important source for travel inspiration for millennials and Gen Z, according to new research.'" [ref]="'https://www.phocuswire.com/millennials-gen-z-social-media-inspiration-klook'"/>
            <news-template [title]="'PHOCUSWRIGHT RESEARCH EXPLORES TRAVELERS’ COMFORT USING GENAI'" [text]="'Given the widespread knowledge and interest in using technologies like generative artificial intelligence, virtual reality and augmented reality among today\'s travelers, travel brands should continue down the path toward integrating them into the ways in which travel can be planned, booked and experienced.'" [ref]="'https://www.phocuswire.com/phocuswright-travelers-comfort-using-generative-artificial-intelligence-for-travel'"/>
            
        </div>
        
        <div class="bottom-right">
            <a href="https://www.facebook.com/TravelTechSolutions"><i class="fa-brands fa-square-facebook"></i></a>
            <a href="https://linkedin.com/company/tts-lab"><i class="fa-brands fa-linkedin"></i></a>
            <a href="https://twitter.com/tts_travel"><i class="fa-brands fa-square-x-twitter"></i></a>
            <a href="https://www.youtube.com/@TtsTravelTechSolutions"><i class="fa-brands fa-square-youtube"></i></a>

        </div>

    </div>

    <div class="bottom-filter">
        <div class="left-side"></div>
    </div>
</div>
