<ng-container [ngSwitch]="this.type">

    <ng-template [ngSwitchCase]="'location-search'">
        <label for="input-field">{{ this.label }}</label>
        <input ngDefaultControl type="text" value="{{ this.inputValue }}" (input)="searchLocation($event)" placeholder="{{ this.placeholder }}" >
        <div class="search-area" *ngIf="this.term != ''">
            <div class="group" *ngFor="let city of (this.results$ | async)" (click)="locationSelected($event, city)">

                {{ city.name }}, {{ city.country.name }}
                <div class="airport" *ngFor="let airport of city.airports" (click)="locationSelected($event, city, airport)">
                    {{airport.name}}
                </div>
            </div>
        </div>
    </ng-template>

    <ng-template [ngSwitchCase]="'search'">
        <label for="input-field">{{ this.label }}</label>
        <input ngDefaultControl type="{{ this.type }}" value="{{ this.inputValue }}" (input)="inputTriggered($event)" placeholder="{{ this.placeholder }}">
    </ng-template>

    <ng-template [ngSwitchDefault]>
        <label for="input-field">{{ this.label }}</label>
        <input ngDefaultControl type="{{ this.type }}" value="{{ this.inputValue }}" (input)="inputTriggered($event)" placeholder="{{ this.placeholder }}">
    </ng-template>

    <ng-template [ngSwitchCase]="'button'">
        <input ngDefaultControl type="{{ this.type }}" value="{{ this.inputValue }}" (input)="inputTriggered($event)" placeholder="{{ this.placeholder }}">
    </ng-template>

</ng-container>