:host {
    background-color: #fff;
    position: relative;
    width: 100%;
    display: block;
    box-shadow: 0px 0px 2px #11214a;
    border-radius: 6px;
    margin-top: 19px;
    &.ng-invalid {
        box-shadow: 0px 0px 2px #E32C2C;
        label {
            color: #E32C2C;
        }
    }
    &.ng-disabled {
        box-shadow: 0px 0px 2px #11214a4d;

        label {
            color: #11214a5b;
        }
    }
    label {
        position: absolute;
        transform: translateY(-50%);
        margin-left: 23px;
        background-color: inherit;
        padding: 0px 5px;
        font-size: 13px;
        color:#11214A;
        font-weight: 500;
        opacity: .8;
    }
}