/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap&family=Roboto+Mono&display=swap');
@import "~@fortawesome/fontawesome-free/css/all.css";
* {
    max-width: 100%;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;

    // Custom scroll bar (for chrome&safari)
    ::-webkit-scrollbar {
        width: 5px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 2px rgba(128, 128, 128, 0.514);
        border-radius: 10px;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #1F75AE;
        border-radius: 10px;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #597fa6dc;

    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    appearance: none;
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    appearance: none;
    -moz-appearance: textfield;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins', sans-serif;
    color: #11214A;
}

h1,
h2 {
    font-size: 2.5rem;
    line-height: 2.5rem;
}

h3,
h4 {
    font-size: 1.875rem;
    line-height: 1.875rem;
}

h5,
h6 {
    font-size: 1.25rem;
    line-height: 1.25rem;
}

h1,
h3 {
    font-weight: 700;
}

h2,
h6 {
    font-weight: 400;
}

h4,
h5 {
    font-weight: 600;
}

a,
p,
b,
span {
    font-size: 1rem;
}

label {
    font-size: 0.75rem;
}

button {
    border: none;
    outline: none;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    background-color: #414D6E;
    color: #fff;
    cursor: pointer;
    transition: background-color ease-in-out .3s;

    &.call-to-action {
        background-color: #1F75AE;
        color: #fff;

        &::after {
            content: '»';
            display: block;
            margin-left: -1rem;
            width: 1rem;
            font-weight: 500;
            opacity: 0;
            transition: opacity ease-in-out .5s, width ease-in-out 1s, margin-left ease-in-out .5s;

        }

        &:hover {
            &::after {
                opacity: 1;
                width: 1rem;
                margin-left: 0px;
            }
        }
    }

    &:active {
        background-color: #313D5F;
    }

    &.call-to-action:active {
        background-color: #1C689A;
        color: #fff;
    }

    &.button-large {
        width: 150px;
        height: 44px;
        font-weight: 400;
    }

    &.button-medium {
        width: 130px;
        height: 33px;
        border-radius: 5px;
        font-weight: 400;
    }

    &.button-small {
        width: 100px;
        height: 30px;
        font-weight: 400;
        font-size: .85rem;
        border-radius: 4px;
    }


}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.flex-center {
    justify-content: center;
}

.flex-left {
    justify-content: flex-start;
}

.flex-right {
    justify-content: flex-end;
}

.flex-middle {
    align-items: center;
}

.flex-top {
    align-items: flex-start;
}

.flex-bottom {
    align-items: flex-end;
}

@media only screen and (max-width: 1920px) {

    h1,
    h2 {
        font-size: 2.5rem;
        line-height: 2.5rem;
    }

    h3,
    h4 {
        font-size: 1.875rem;
        line-height: 1.875rem;
    }

    h5,
    h6 {
        font-size: 1.25rem;
        line-height: 1.25rem;
    }

    a,
    p,
    b,
    span {
        font-size: 1rem;
    }

}

@media only screen and (max-width: 1280px) {

    h5,
    h6 {
        font-size: 0.875rem;
        line-height: 0.875rem;
    }

    a,
    p,
    b,
    span {
        font-size: 0.625rem;
    }

}