<nav>
    <ng-container *ngIf="this.side">
        <ul>
            <li *ngFor="let item of this.routes">
                
                <a [routerLink]="item.route" routerLinkActive="active">
                    <i class="{{ item.data?.icon }}"></i>
                    {{item.label}}
                </a>
            </li>
            <div class="line"></div>
            <li (click)="logout()">
                <a><i class="fa-solid fa-arrow-right-from-bracket"></i>{{'SIGN_OFF' | translate}}</a>
            </li>
        </ul>
    </ng-container>

    <ng-container *ngIf="!side">
        
        <div class="logo">
            <img src="assets/webagent-logo-colour-cropped.png">
        </div>
        <div class="user">
            <div class="info">
                <div class="name">
                    {{ formatUsername(( this.user$ | async )) }}
                </div>
                <div class="wallet">
                    {{ (this.balance$ | async)?.amount }} {{ (balance$ | async)?.currency }}
                </div>
            </div>

            <ng-template #customContent1>
                <h3>{{'ADD_FUNDS' | translate}}</h3>
                <div class="payment-wrapper" style="display: flex; align-items: flex-end; justify-content: space-between;">
                    <webagent-input style="width: 300px; margin-right: 10px;" [type]="InputType.NUMBER" [label]="('AMOUNT' | translate)" [(ngModel)]="this.deposit.amount"  [placeholder]="('MINIMUM_AMOUNT' | translate) + ' 50 USD'" [max]="10" [pattern]="patterns.amount.source"/>
                    <button class="button-medium" style="transform: translateY(-1px);" (click)="addFunds()">{{'ADD_FUNDS' | translate}}</button>
                </div>
            </ng-template>

            <div class="image" (click)="this.toggleModal(customContent1, 'modal1')">
                <div class="vertical"></div>
                <div class="horizontal"></div>
            </div>
        </div>
    </ng-container>
</nav>
