.place {
    text-align: center;
    display: flex;
    div{
        display: flex;
        font-weight: 500;
        color: var(--tma-color-text);
        font-size: .80rem;
        div:nth-child(2){
            padding: 0 5px;
        }
        
    }
    .next-day{
        font-size: 9px;
    }
}
