<div id="right-menu" (click)="clickOutFilters()">
	<app-right-menu
		(executeCommand)="onExecuteCommandEvent($event)"
		(logout)="logout()"
		(commandResult)="onCommandResult($event)"
        (onOpenPkey)="setPkey($event)"
	></app-right-menu>
</div>

	<div id="terminal-page">
        <app-terminal
			id="terminal1"
			[ngClass]="{selected: !isSecondTerminalSelected}"
			[content]="terminal1Content"
			(click)="onTerminalClick($event, false)"
			(submit)="onTerminalSubmit($event)"
		>
		</app-terminal>
		<app-terminal
			*ngIf="showTwoTerminals"
			id="terminal2"
			[ngClass]="{selected: isSecondTerminalSelected}"
			[content]="terminal2Content"
			(click)="onTerminalClick($event, true)"
			(submit)="onTerminalSubmit($event)"
		>
		</app-terminal>
		<app-calendar-picker [selected]="selected" (submitEvent)="submitCalendar($event)" *ngIf="isCalendar"></app-calendar-picker>

		<button id="filters" *ngIf="hasFilters" class="fixed-btn btn-filters" size="small" shape="round" (click)="onFilterBtnClick()">
                <i class="fa-solid fa-bars"></i>
			<!-- <icon size="small" slot="icon-only" name="filter"></icon> -->
		</button>

		<div class="fixed-btn left-down-btns">
			<button *ngIf="hasItemsToEmail" size="small" shape="round" (click)="onEmailItemsClick()">
                <i class="fa-solid fa-envelope"></i>
				({{ emailItems.length }})
			</button>
			<button *ngIf="showBtnMu" size="small" shape="round" (click)="executeMdMuCommands('MU')">
                <i class="fa-solid fa-bars"></i>
			</button>
			<button *ngIf="showBtnMd" size="small" shape="round" (click)="executeMdMuCommands('MD')">
                <i class="fa-solid fa-caret-down"></i>
			</button>
		</div>
	</div>
<!-- 
<app-filters *ngIf="areFilters" forceOverscroll="false" class="filters" (allowCommands)="allowCommands()" 
(exitFilters)="exitFilters()"></app-filters> -->

<ng-template #brandsAndAcillaries>
    <app-brands-and-ancillaries [data]="data" (closeEvent)="onBrandClose()" *ngIf="isBrandAcc" class="brands"></app-brands-and-ancillaries>
</ng-template>

<ng-template #emailTempaltes>
    <app-email-items (exitEmailItems)="exitEmailItems()" *ngIf="isEmail" class="email-items"></app-email-items>
</ng-template>



<terminal-bottom-bar [pkeyIndex]="selectedPkey" (commandSubmit)="onCommandInputSubmit($event)" />

