<div class="left-section">

    <div class="container" *ngFor="let traveller of this.travellers">
        <h4>Traveller Details</h4>
    
        <div class="traveller-type">
            {{ traveller.toString() }}
        </div>
    
        <div class="triple-fields">
            <webagent-input [type]="InputType.TEXT" [required]="false" [pattern]="patterns.name.source" [label]="'First name'" [(ngModel)]="traveller.firstName" [placeholder]="'E.g. John'" />
            <webagent-input [type]="InputType.TEXT" [required]="false" [pattern]="patterns.name.source" [label]="'Surname'" [(ngModel)]="traveller.lastName" [placeholder]="'E.g. Doe'" />
            <webagent-input [type]="InputType.NUMBER" [required]="false" [(ngModel)]="traveller.contact.phone.dialCode" [label]="'Country Dial Code'" [placeholder]="'E.g. 351'" />
        </div>
        <div class="triple-fields">
            <webagent-input [type]="InputType.DATE" [required]="false" [(ngModel)]="traveller.dateOfBirth" [label]="'Date of Birth'" [placeholder]="'E.g. 01/01/1999'" />
            <webagent-input [type]="InputType.TEXT" [required]="false" [(ngModel)]="traveller.contact.email" [pattern]="patterns.email.source" [label]="'Email'" [placeholder]="'E.g. traveller@tts.com'" />
            <webagent-input [type]="InputType.NUMBER" [required]="false" [(ngModel)]="traveller.contact.phone.number" [pattern]="patterns.phone.source" [label]="'Phone Number'" [placeholder]="'E.g. 913502195'" />
        </div>
    
        <button class="button-small">Add frequent flyer number</button>
    </div>
    
    <div class="container">
        <h4>Agency Contact</h4>
    
        <div class="triple-fields">
            <webagent-input [type]="InputType.TEXT" [required]="false" [pattern]="patterns.name.source" [label]="'First name'" [placeholder]="'E.g. John'" />
            <webagent-input [type]="InputType.TEXT" [required]="false" [pattern]="patterns.name.source" [label]="'Surname'" [placeholder]="'E.g. Doe'" />
            <webagent-input [type]="InputType.TEXT" [required]="false" [pattern]="patterns.email.source" [label]="'Email'" [placeholder]="'E.g. traveller@tts.com'" />
        </div>
        <div class="triple-fields">
            <webagent-input [type]="InputType.NUMBER" [required]="false" [label]="'Country Dial Code'" [placeholder]="'E.g. 351'" />
            <webagent-input [type]="InputType.NUMBER" [required]="false" [pattern]="patterns.phone.source" [label]="'Phone Number'" [placeholder]="'E.g. 913502195'" />
            <webagent-input [type]="InputType.TEXT" [required]="false" [pattern]="patterns.text.source" [label]="'Entity Name'" [placeholder]="'E.g. TTS'" />
        </div>
        <div class="double-fields">
            <webagent-input [type]="InputType.TEXT" [required]="false" [pattern]="patterns.text.source" [label]="'Street'" [placeholder]="'E.g. Rua da tecnologia 21'"/>
            <webagent-input [type]="InputType.TEXT" [required]="false" [pattern]="patterns.text.source" [label]="'City'" [placeholder]="'E.g. Ponta Delgada'" />
        </div>
        <div class="quadruple-fields">
            <webagent-input [type]="InputType.TEXT" [required]="false" [pattern]="patterns.text.source" [label]="'Locality'" [placeholder]="'E.g. Rosário '" />
            <webagent-input [type]="InputType.TEXT" [required]="false" [pattern]="patterns.text.source" [label]="'Flat'" [placeholder]="'E.g. R/S/'" />
            <webagent-input [type]="InputType.NUMBER" [required]="false" [pattern]="patterns.postCode.source" [label]="'Post Code'" [placeholder]="'E.g. 9500-285'" />
            <webagent-input [type]="InputType.TEXT" [required]="false" [pattern]="patterns.countryCode.source" [label]="'Country Code'" [placeholder]="'E.g. PT'" />
        </div>
    </div>
</div>

<div class="right-section">
    <div class="container">
        <h4>Trip Summary</h4>
        <div *ngIf="(this.option | async)!.OUTBOUNDS"  class="container">
            <ng-container *ngFor="let result of (this.option | async)!.OUTBOUNDS?.segments">
                <div class="top-row">
                    <div class="marketing-carrier">
                        <div class="marketing-img" [ngStyle]="{'background-image': 'url(' + (this.option | async)!.OUTBOUNDS!.segments[0].marketingCarrier.logo_url + ')' }"></div>
                        <span>{{ (this.option | async)!.OUTBOUNDS!.segments[0].marketingCarrier.name}}</span>
                    </div>
                </div>
                <div class="flight-destination-code">
                    <h6>{{ (this.option | async)!.OUTBOUNDS!.segments[0].destination.code }}</h6>
                    <h6>{{ (this.option | async)!.OUTBOUNDS!.segments[0].origin.code }}</h6>
                </div>
                <div class="flight-destination-code" *ngIf="(this.option | async)!.OUTBOUNDS!.segments.length > 0">
                    <span> {{ (this.option | async)!.OUTBOUNDS!.segments[0].destination.type  }} </span>
                    <span> {{ (this.option | async)!.OUTBOUNDS!.segments[0].origin.type  }}</span>
                </div>
                <div class="flight-destination-code">
                    <span> {{ formatDateTime((this.option | async)!.OUTBOUNDS!.segments[0].departureDatetime) }}</span>
    
                    <div class="duration-stripes"></div>
                    
                    <div class="duration">
                        <p></p>
                    </div>
    
                    <div class="duration-stripes"></div>
    
                    <span>{{ formatDateTime((this.option | async)!.OUTBOUNDS!.segments[0].arrivalDatetime) }}</span>
                </div>
                <div class="flight-destination-code">
                    <span> {{ formatDate((this.option | async)!.OUTBOUNDS!.segments[0].departureDatetime) }}</span>
    
                    <span>{{ formatDate((this.option | async)!.OUTBOUNDS!.segments[0].arrivalDatetime) }}</span>
                </div>
            </ng-container>
        </div>
    </div>
</div>